@mixin buttonClick() {
  padding: 12px 20px;
  font-size: 15px;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  background: linear-gradient(to right bottom, rgb(0, 0, 0), rgb(0, 0, 0));
}
