@font-face {
  font-family: avicii;
  src: url(./VerminVibes2Soft-grr4.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./avicii.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
h1 {
  color: white;
  font-family: avicii;
  font-size: 5em;
  letter-spacing: 10px;
  font-weight: 300;
}
button {
  padding: 20px 30px;
  width: 300px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font: 1em avicii;
  letter-spacing: 5px;
}
button:hover {
  background-color: white;
  color: #000;
}
